<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionPointName</key>
			<string>NSExtensionPointName</string>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>NSExtensionMainStoryboard</string>
		<key>NSExtensionPointIdentifier</key>
		<string>NSExtensionPointIdentifier</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Loockit</string>
	<key>CFBundleIdentifier</key>
	<string>com.g48.door</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>ttki</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
</dict>
</plist>
